/* Navbar.css */

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1px 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
    position: relative;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .nav-link:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    
    border-radius: 4px;
    padding: 5px;
    width: 100%; /* Full width */
    max-width: 400px; /* Max width to prevent stretching on large screens */
    outline: none;
    border: none;
    background-color:#f0f0f0;
  }
  
  .input-field {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
  }
  
  .icon {
    padding: 3px;
    cursor: pointer;
  }

  .nav-item p{
    display: flex;
    justify-content: center;
    position: absolute;
    top:-2px;
    right:5px;
    align-items: center;
    background-color: tomato;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 17px;
    color: #f0f0f0;
  }
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-icon {
      display: block;
    }
  
    .nav-menu {
      display: none;
      width: 100%;
      flex-direction: column;
      padding: 0;
      margin-top: 20px;
    }
  
    .nav-menu.active {
      display: flex;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  
    .nav-link {
      padding: 10px 20px;
    }
  
    .dropdown-content {
      position: static;
      box-shadow: none;
      display: none;
      margin-left: 20px;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .input-container {
      width: 100%;
      max-width: 100%; /* Full width on smaller screens */
      margin-top: 10px;
    }
  }
  